*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img{
    height: 50rem;
}

.instagram-continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    min-width: 440px;
    min-height: 34rem;
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.box:nth-child(1){
    min-height: 19rem;
}

.instagram-logo{
    height: 3rem;
}

.foto-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.foto-perfil img{
    height: 6rem;
}

.instagram-login{
    background-color: #0095f6;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.link-blue{
    color: #0095f6;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2){
    background-image: url('./img/googleplay-button.png');
}

/* Media Queries */

@media (max-width: 1280px){
    .instagram-wrapper{
        width: 90%;
    }

    .instagram-continue{
        min-width: 450px;
    }

    .instagram-phone{
        margin: 0;
    }
}

@media (max-width: 900px){
    .instagram-wrapper{
        width: 100%;
        justify-content: center;
    }

    .instagram-phone{
        display: none;
    }

    .instagram-continue{
        width: 440px;
    }

    .box{
        border: 1px transparent;
    }
}

@media (max-width: 450px){
    body{
        background-color: white;
    }
    
    .download{
        display: flex;
        flex-direction: column;
    }
}